@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

input,
button {
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #f5f3f4;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0.75rem;
  border-bottom: 2px solid #777;
  position: sticky;
  top: 0;
  background-color: inherit;
}

.nav-list {
  display: flex;
  gap: 2.5rem;
  color: #9ca3af;
  font-size: 1.125rem;
  padding: 0;
  margin: 0;
}

.nav-list li a {
  padding: 0.25rem;
  color: inherit;
  transition: color 0.3s;
}

.nav-list li a:hover {
  color: #333;
}

.hiring {
  position: relative;
}

.star {
  color: #fbbf24;
  position: absolute;
  right: -0.5rem;
  bottom: 0.6rem;
}

.login {
  display: block;
  background-color: #12100c;
  display: flex;
  align-items: center;
  color: #fff;
  padding: 0.5rem 1.2rem;
  transition: background-color 0.3s;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.login:hover {
  background-color: #333;
}

main {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0.7rem 1rem;
}

.hero_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  padding: 0.5rem 1rem;
}

.hero_col1 {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.main_heading {
  font-size: 80px;
  line-height: 88px;
  color: #12100c;
  font-weight: 700;
}

.hero_paragraph {
  font-size: 23px;
  line-height: 32px;
  color: #12100c;
  padding: 0 10rem 0 0;
}

.hero_info_wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.hero_btn_wrapper {
  display: flex;
  gap: 15px;
  align-items: center;
}

.hero_btn {
  padding: 0.7rem 2rem;
  background-color: #ffae33;
  border-radius: 15px;
  font-weight: 500;
  font-size: 18px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.hero_info_paragraph {
  align-items: center;
  font-size: 16px;
  line-height: 24px;
}

.git_icons {
  display: flex;
  gap: 20px;
}

.second-section {
  padding: 2rem 1rem;
  text-align: center;
}

.second-section span {
  text-decoration: line-through;
  color: #999795;
  font-weight: 600;
}

.devenvironment-section {
  padding: 2rem 1rem;
}

.devenvironment-section {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.dev_col1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dev_col1 h3 {
  font-size: 32px;
}

.dev_col1 p {
  font-size: 20px;
  color: #9398a0;
  font-weight: normal;
  line-height: 30px;
}

.dev_col1 .buttons-wrapper {
  display: flex;
  gap: 10px;
  margin: auto 0;
}

.buttons-wrapper button {
  padding: 0.7rem 2rem;
  border-radius: 15px;
  font-weight: 500;
  font-size: 18px;
  transition: background-color 0.3s;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.btn_orange {
  background-color: #ffae33;
}

.btn_orange:active {
  background-color: #e2931df3;
}

.btn_pink {
  background-color: #ffb0ae;
}

.btn_pink:active {
  background-color: #e68f8e;
}

.dev_col2 {
  flex: 1;
}

@media screen and (max-width: 1000px) {
  header {
    flex-direction: column;
    gap: 10px;
  }

  .nav-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }

  .login {
    padding: 0.75rem 1.5rem;
    position: absolute;
    right: 0;
  }

  .hero_section {
    flex-direction: column;
    gap: 15px;
  }

  .main_heading {
    font-size: 60px;
    line-height: 68px;
    color: #12100c;
    font-weight: 700;
  }

  .hero_info_wrapper {
    flex-direction: row;
    justify-content: space-between;
    gap: 6px;
    align-items: center;
  }

  .hero_btn {
    padding: 0.6rem 0.9rem;
    font-size: 15px;
  }

  .git_icons {
    gap: 15px;
  }

  .devenvironment-section {
    flex-direction: column;
    gap: 15px;
  }
}
