@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

input,
button {
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #12100c;
}

.container {
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #f5f3f4;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0.75rem;
  border-bottom: 2px solid #777;
  position: sticky;
  top: 0;
  background-color: inherit;
  z-index: 40;
}

.nav-list {
  display: flex;
  gap: 2.5rem;
  color: #9ca3af;
  font-size: 1.125rem;
  padding: 0;
  margin: 0;
}

.nav-list li a {
  padding: 0.25rem;
  color: inherit;
  transition: color 0.3s;
}

.nav-list li a:hover {
  color: #333;
}

.hiring {
  position: relative;
}

.star {
  color: #fbbf24;
  position: absolute;
  right: -0.5rem;
  bottom: 0.6rem;
}

.login {
  display: block;
  background-color: #12100c;
  display: flex;
  align-items: center;
  color: #fff;
  padding: 0.5rem 1.2rem;
  transition: background-color 0.3s;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.login:hover {
  background-color: #333;
}

main {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0.7rem 1rem;
}

.hero_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  padding: 0.5rem 1rem;
}

.hero_col1 {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.main_heading {
  font-size: 80px;
  line-height: 88px;
  font-weight: 700;
}

.hero_paragraph {
  font-size: 23px;
  line-height: 32px;
  padding: 0 10rem 0 0;
}

.hero_info_wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.hero_btn_wrapper {
  display: flex;
  gap: 15px;
  align-items: center;
}

.hero_btn {
  padding: 0.7rem 2rem;
  background-color: #ffae33;
  border-radius: 15px;
  font-weight: 500;
  font-size: 18px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.hero_info_paragraph {
  align-items: center;
  font-size: 16px;
  line-height: 24px;
}

.git_icons {
  display: flex;
  gap: 20px;
}

.second-section {
  padding: 2rem 1rem;
  text-align: center;
}

.second-section span {
  text-decoration: line-through;
  color: #999795;
  font-weight: 600;
}

.devenvironment-section {
  padding: 2rem 1rem;
}

.devenvironment-section {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.dev_col1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dev_col1 h3 {
  font-size: 32px;
}

.dev_col1 p {
  font-size: 20px;
  color: #9398a0;
  font-weight: normal;
  line-height: 30px;
}

.dev_col1 .buttons-wrapper {
  display: flex;
  gap: 10px;
  margin: auto 0;
}

.buttons-wrapper button {
  padding: 0.7rem 2rem;
  border-radius: 15px;
  font-weight: 500;
  font-size: 18px;
  transition: background-color 0.3s;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.btn_orange {
  background-color: #ffae33;
}

.btn_orange:active {
  background-color: #e2931df3;
}

.btn_pink {
  background-color: #ffb0ae;
}

.btn_pink:active {
  background-color: #e68f8e;
}

.dev_col2 {
  flex: 1;
}

.codeditor-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 2rem 1rem;
  justify-content: center;
  align-items: center;
}

.codeditor-section h3 {
  font-size: 54px;
  line-height: 72px;
}

.codeditor-section p {
  max-width: 80%;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #999795;
}

.chromefirefox {
  display: flex;
  gap: 12px;
  position: relative;
}

.chrome_button,
.firefox_button {
  z-index: 10;
  width: 170px;
  display: flex;
  gap: 7px;
  padding: 7px;
  align-items: center;
  background-color: #fff;
  margin-top: 25px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

.chrome_button img,
.firefox_button img {
  width: 30px;
  height: auto;
}

.border_buttons {
  position: absolute;
  z-index: 1;
  display: flex;
  gap: 13px;
  top: 25px;
}

.border_btn {
  width: 169.5px;
  height: 43px;
  padding: 7px;
  border-radius: 1px;
  border: 1px solid;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
}

.users-section {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.users_section_heading {
  font-size: 3.5rem;
  text-align: center;
}

.users_cards_wrapper {
  display: flex;
  gap: 25px;
}

.slider_container {
  width: 100%;
  overflow: hidden;
  margin: auto;
  position: relative;
}

.users_cards_wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
  will-change: transform;
  gap: 20px;
  cursor: grab;
}

.user_card {
  flex: 0 0 35%;
  max-width: 40%;
  box-sizing: border-box;
  padding: 1.5rem;
  border-radius: 1rem;
  background-color: #fff;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.user_message p {
  line-height: 24px;
  margin-bottom: 15px;
}

.about_user {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: auto 0;
}

.user_img {
  min-width: 50px;
  height: auto;
}

.user_status {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.user_name {
  font-size: 1rem;
}

.companies_logos_wrapper {
  width: 80%;
  display: flex;
  gap: 3.1rem;
  justify-content: center;
  flex-wrap: wrap;
  margin: 50px auto 25px;
}

.company_logo button {
  width: 90px;
  display: flex;
  gap: 2px;
  align-items: center;
  justify-content: center;
  object-fit: contain;
  font-size: 1.25rem;
  background-color: transparent;
  font-weight: bolder;
}

.company_logo button img {
  height: 50px;
  object-fit: contain;
  background-color: transparent;
}

@media screen and (max-width: 1000px) {
  header {
    flex-direction: column;
    gap: 10px;
  }

  .nav-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }

  .login {
    padding: 0.75rem 1.5rem;
    position: absolute;
    right: 0;
  }

  .hero_section {
    flex-direction: column;
    gap: 15px;
  }

  .main_heading {
    font-size: 60px;
    line-height: 68px;
    font-weight: 700;
  }

  .hero_info_wrapper {
    flex-direction: row;
    justify-content: space-between;
    gap: 6px;
    align-items: center;
  }

  .hero_btn {
    padding: 0.6rem 0.9rem;
    font-size: 15px;
  }

  .git_icons {
    gap: 15px;
  }

  .devenvironment-section,
  .buttons-wrapper {
    flex-direction: column;
    gap: 15px;
  }

  .codeditor-section h3 {
    font-size: 2rem;
    line-height: 35px;
  }

  .chromefirefox,
  .border_buttons {
    flex-direction: column;
    gap: 2px;
  }

  .border_buttons {
    gap: 28px;
  }

  .users_section_heading {
    font-size: 2rem;
  }

  .user_card {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 1.5rem;
  }

  .users_cards_wrapper {
    gap: 7px;
  }
}
